body{
    font-family: 'Poppins', sans-serif;
}
.color-orange{
    color: orange;
}
.link-down{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 5%;
    
}
.fst-section{
    width: 70%;
    padding-left: 10%;
    font-size: 120%;
    padding-top: 5%;
}

    
.about-us{
    display: flex;
    margin-bottom: 5%;
    
}
.img-section img{
    width: 60%;
    padding-left: 10%;
    
}
.img-section1 img{
    width: 50%;
}
h1{
    font-size: 40px;
}
#slice-box{
    border-left: 5px solid;
    border-image: linear-gradient(red,orange);
    border-image-slice: 1;
    
}
#fornt-dis{
    text-align: center;
}
.box-iteam1{
background-color: grey;
    width: 33%;
    padding: 10px;
    box-shadow: none;
    margin: 1%;
    border-radius: 10px;
    
    
}
.box-iteam2{
    width: 33%;
    padding: 10px;
    box-shadow: none;
    background-color: burlywood;
margin: 1%; 
border-radius: 10px;   
}
.box-iteam3{
    width: 33%;
    padding-left: 10px;
    box-shadow: none;
background-color:darkorange;  
margin: 1%;  
border-radius: 10px;
}
.img-section2 img{
    width: 40%;
    margin-bottom: 10%;
    padding-left: 20%;
}
.sec-section{
    width: 60%;
    padding-right: 10%;
    margin-left: 1%;
}
#back-img{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}
#back-img1{
    background-image: url(images/shape-1.png);
    background-position: right;
    background-repeat: no-repeat;
}
